@import '../../variables';

.boxList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px ;
    margin-bottom: 30px ;
    .box{
        background: linear-gradient(0deg, #5f46bc 0%, #ad00af 100%);
        border-radius: 14px;
        box-shadow: $TinyShadow;
        padding: 1.5em;
        color: #FFF;
        text-align: center;
        .boxIcon{
            margin-bottom: 1em;
        }        
    }
}

.verticalBoxList{
    display: flex;
    flex-direction: column;
    .verticalBoxItem{
        margin-bottom: 1em;
        background-color: #FFF;
        box-shadow: $TinyShadow;
        padding: 1em;
        border-radius: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            margin-right: 10px;
            border-radius: 8px;
        }
    }
}

.skillBoxList{
    display: flex;
    flex-direction: column;
    .skillBoxItem{
        margin-bottom: 1em;
        background-color: #FFF;
        box-shadow: $TinyShadow;
        padding: 1em;
        border-radius: 14px;
        display: flex;
        flex-direction: column;        
    }
    .progressColor{
        background: linear-gradient(90deg, #5f46bc 0%, #ad00af 100%);
    }
}