@import '../../partials/variables';
@media (max-width: 767.98px){
    .contentImage{
        border-radius: 35px;
        box-shadow: $DefaultShadow;
        margin-top: 20px;
    }
}

@media (min-width: 768px){
    .contentText{
        line-height: 1.8em;
        text-align: justify;
    }

    .contentImage{
        border-radius: 35px;
        box-shadow: $DefaultShadow;
    }
}