@import '../../partials/variables';


@media (max-width: 767.98px){
    
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card{
        background-color: #FFF;
        box-shadow: $TinyShadow;
        border-radius: 14px;
        border: solid 1px #f8f8f8;
        transition: $DefaultTransition;
        width: 350px;
        margin-bottom: 20px;
        &:hover{
            box-shadow: 0 10px 15px #0F172A;
            cursor: pointer;
        }

        &:hover .cardAction{
            cursor: pointer;    
        }

        .cardImage{
            border-radius: 14px 14px 0 0;
            max-width: 100%;            
        }
        .cardText{
            padding: 1em;
            font-size: 0.85em;
            .cardTextTitle{
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 16px;
            }
        }
        .cardSkills{
            display: flex;
            flex-direction: row;
            margin: 1em;
            
            li{
                background-color:cornflowerblue;
                color: #fff;
                font-size: 0.8em;
                border-radius: 50px;
                margin-right: 1em;
                padding: 5px 10px;
            }
        }

        .cardAction{
            border-top: solid 1px #eee;
            padding: 1em;
        }
    }
}

@media (min-width: 768px){
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card{
        background-color: #FFF;
        box-shadow: $TinyShadow;
        border-radius: 14px;
        border: solid 1px #f8f8f8;
        transition: $DefaultTransition;
        width: 410px;
        margin-bottom: 20px;
        &:hover{
            cursor: pointer;
        }

        &:hover .cardAction{
            color: #0F172A;
            cursor: pointer;    
        }

        &:hover .cardImage{
            transform: scale(1.3); 
            border-radius: 14px 14px 0 0;
        }

        &:hover .buttonAction{
            background-color: #0F172A;
            color: #FFF;
        }
        
        .cardImage{
            width: 100%;
            transition: $DefaultTransition;
            border-radius: 14px 14px 0 0;
        }
        .cardText{
            padding: 1em 1em 5px 1em;
            font-size: 0.85em;
            color: #666666;
            .cardTextTitle{
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 16px;
            }
        }
        .cardSkills{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 1em;
            
            li{
                background-color:#94A3B8;
                color: #fff;
                font-size: 0.8em;
                border-radius: 50px;
                margin-right: 1em;
                margin-bottom: 5px;
                padding: 5px 10px;
            }
        }

        .cardAction{
            padding: 1em;
            transition: $DefaultTransition;
            display: flex;
            justify-content: center;
            color: #94A3B8;
        }

        .buttonAction{
            transition: $DefaultTransition;
            border: solid 1px #666666;
            padding: 10px 20px;
            border-radius: 50px;
            color: #666666;
        }
    }
}