@import '../../partials/variables';


.resumeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .resumeListItem{
        margin-right: 1em;
        flex-grow: 2;
        margin-bottom: 30px;
        .box{
            background-color: #FFF;
            box-shadow: $TinyShadow;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 10px;
            border-radius: 14px;
            border: solid 1px #f8f8f8;
            img{
                border-radius: 8px;
            }
            .boxRight{
                margin-left: 10px;
                font-size: 0.85em;
            }
            .CompanyName{
                font-weight: bold;

            }
            .JobPosition{
                color: #da00bd;
                margin-bottom: 5px;
                font-weight: bold;
                padding: 0;
            }
        }
        .tasks{
            display: flex;
            flex-direction: column;                
            margin-top: 1em;
            font-size: 0.85em;
            li{
                margin-bottom: 5px;
                list-style:circle;
                margin-left: 40px;
            }
        }
    }
}