@import '../../partials/variables';


.footer{
    background-color: #0c4a6e ;
    padding-top: 10px ;
    color: #FFF;
}

.footerBoxes{
    display: flex;
    flex-direction: row;
    .box{
    background-color: rgba(255,255,255,0.1);
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.5em;
    margin-bottom: 1em;
    border-radius: 14px;
    img{
        margin-right: 10px;
    }
    .lineTitle{
        font-weight: bold;
    }
    }
}

.footerSignature{
    color: rgba(255,255,255,0.3);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    img{
        margin-left: 1em ;
        opacity: 0.3;
    }
}