@import '../../partials/variables';


@media (max-width: 767.98px){
    .TopHeader{
        display: none;
    }

    .greetings{
        background: url(/images/header-bg.jpg) center top;
        background-size: cover;
        margin-top: 60px;
        .greetingsOverlay{
            padding: 50px 0 50px 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(3px);
        }
        .mainLine{
            font-size: 1.5em;
            color: #FFF;
            padding: 10px 15%;
        }
        .subline{
            color: #FFFFFF;
            padding: 0 5%;
            font-size: 1em;
            line-height: 150%;
        }
    }
}

@media (min-width: 768px){
    .TopHeader{
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        height: 80px;
        z-index: 9;
        position: fixed;
        background-color: rgba($color: #000000, $alpha: 0.6);
        .siteTitle{
            width: 20%;
            float: left;
            display: flex;
            align-items: center;
            padding: 3px 0;
            p{
            color: $LightGray;
            font-size: 20px;
            font-weight: 100;
            height: auto;
            line-height: 1;
            margin-left: 10px;
            }
        }
        .SubjectHeader{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            li{
                a{
                    display: flex;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    margin-left: 5px;
                    border-radius: 50px;
                    border: solid 1px #b28834;
                    color: #b28834;    
                    font-size: 14px;
                    align-items: center;
                    transition: $DefaultTransition;
                    &.ActiveLanguage{
                        border: solid 1px #0f172a;
                        color: $LightGray;
                        background-color: #FFF;
                    }
                    &:hover{
                        border: solid 1px #0f172a;
                        color: #FFFFFF;
                        background-color: #0f172a;
                    }
                }
                
            }
        }
    }
    .greetings{
        display: none;
        .subline{
            color: #202020;
            margin-top: 10px;
        }
    }
}