@import '../../variables';

.mainNavigation{
    background-color: #1e293b;
    width: 70px;
    height: 100vh;
    bottom: 0;
    position: fixed;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .homeLink{
        background-color: #0c4a6e;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        position: fixed;
        margin-left: 5px;
    }


    .linkList{
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        bottom: 0;
        height: 100vh;
        .linkListItem{
            margin-left: 1.5em;
            
            a{
                padding-bottom: 10px ;
                border-bottom: solid 2px transparent;
                transition: 0.3s ease-in-out all;
            }
            &:hover a{
                color: #da00bd;
                padding-bottom: 2px ;
                border-bottom: solid 2px #da00bd;

            }
        }

        
    }

}
