@import '../../partials/variables';


@media (max-width: 767.98px){
    .mainMenu{
        display: none;
    }
}


@media (min-width: 768px){
    .mainMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 70px;
        height: 100vh;
        background-color: #171715;
        padding-top: 20px;

        .mainLogo{
            width: 45px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-bottom: 1em;
            
            
        }
        .menuBox{
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 70px;
            height: 100vh;
            margin-bottom: 20px;
            .menuItem{
                margin-top: 5px;
                margin-bottom: 5px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;                  
                width: 45px;
                height: 45px;
                padding: 0;
                &:hover{
                    background: #B28834;
                }
            }
        }
    }

    .tippyBox{
        background: rgba(178, 136, 52, 0.6);
        backdrop-filter: blur(3px);
        padding: 5px 20px;
        border-radius: 50px;
        border: solid 1px rgba(190, 171, 181, 0.4);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
        font-size: 1em;
        font-family: 'Inter';
        color: #FFF;
        font-weight: 500;
        letter-spacing: 1px;
        text-shadow: 0 2px 8px rgba(15, 23, 41, 0.6);
        margin-left: 5px;
    }
    

}