@import '../../partials/variables';


@media (max-width: 767.98px){
    .StickyMenu{
        height: 60px;
        position: fixed;
        top: 0;
        z-index: 999;
        .navcolorborder{
            background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
            width: 100%;
            height: 5px;
        }
        .StickyBody{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: inherit;
            height: 55px;
            background-color: rgba(15, 23, 42,.8);
            backdrop-filter: blur(3px);
            width: 100vw;    
            .StickyBrand{
                margin: 0 auto;               
            }    
            
            .StickyLogo{
                display: none;
                
            }
            .StickyLogoMobile{
                display: block;
                
            }

            button{
                border: none;
                padding: 5px;
                .OffcanvasTrigger{
                    color: #FFF;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

}


@media (min-width: 768px){
    .StickyMenu{
        display: none;
    }

}