@import '../partials/variables';

@media (max-width: 767.98px){
    .projectsBody{
        padding-left: 16px;
        padding-right: 16px;
    }
    .header{
        padding: 80px 0 70px 0;
        margin-bottom: 40px;
        .projectTitle{
            font-size: 2em;
            color: #DDDDDD;
            font-weight: bold;
            text-shadow: 0 5px 10px rgba(0,0,0,0.6);
        }
    }
    
    .alexa{
        background: url(/images/alexa.jpg) center center;
        background-size: cover;
    }
    
    .ada{
        background: url(/images/projetos/ada/thumb-ada.png) center center;
        background-size: cover;
    }
    
    .UXChapter{
        background: url(/images/projetos/chapter/thumb-chapter.png) center center;
        background-size: cover;
    }
    
    .toolsList{
        display: flex;
        flex-direction: column;
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;
            justify-content: space-between;
            &.bluePills li{
                background-color: cornflowerblue;
                color: #FFF;
            }
            &.redPills li{
                background-color: #ffcdd2;
                color: #666;
            }
            li{
                margin-right: 5px;
                margin-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 50px;
                font-size: 14px;
            }
            label{
                margin-right: 10px;
                font-size: 14px;
            }
        }
    }
    
    .breakline{
        width: 100%;
        height: 40px;
    }
    
    .sectionDivision{
        padding-bottom: 20px;
        border-bottom: solid 1px #eee;
        margin-bottom: 40px;
    }
    
    .sectionTitle{
        font-size: 2em;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 10px;
    }
    
    .sectionSubtitle{
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    
    .sectionTopic{
        font-size: 1.2em;
        color: #999999;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .sectionTopicList{
        list-style: circle;
        color: #999999;
        margin-left: 15px;
        margin-top: 20px;
        li{
            margin-bottom: 10px;
        }
    }
    
    .SideBySide{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .contentBox{
        background-color: #FFF;
        box-shadow: $TinyShadow;
        border:solid 1px #eee;
        color:#212121;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 250px;
        max-height: 300px;
        padding: 30px 20px;
        border-radius: 14px;
        margin-bottom: 20px;
    
    }
    
    .techBox{
        background-color: #FFF;
        box-shadow: $TinyShadow;
        border:solid 1px #eee;
        color:#212121;
        text-align: justify;
        padding: 30px 20px;
        border-radius: 14px;
        margin-bottom: 20px;
    }
    
    .imageList{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
        img{
            max-width: 180px;
            height: auto;
            margin-bottom: 1em;
        }
    }
}

@media (min-width: 768px){

.header{
    padding: 80px 0 70px 0;
    margin-bottom: 40px;
    .projectTitle{
        font-size: 2em;
        color: #DDDDDD;
        font-weight: bold;
        text-shadow: 0 5px 10px rgba(0,0,0,0.6);
    }
}

.alexa{
    background: url(/images/alexa.jpg) center center;
    background-size: cover;
}

.ada{
    background: url(/images/projetos/ada/thumb-ada.png) center center;
    background-size: cover;
}

.UXChapter{
    background: url(/images/projetos/chapter/thumb-chapter.png) center center;
    background-size: cover;
}

.toolsList{
    display: flex;
    flex-direction: column;
    ul{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        &.bluePills li{
            background-color: cornflowerblue;
            color: #FFF;
        }
        &.redPills li{
            background-color: #ffcdd2;
            color: #666;
        }
        li{
            margin-right: 15px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 50px;
        }
        label{
            margin-right: 10px;
        }
    }
}

.breakline{
    width: 100%;
    height: 40px;
}

.sectionDivision{
    padding-bottom: 20px;
    border-bottom: solid 1px #eee;
    margin-bottom: 40px;
}

.sectionTitle{
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.sectionSubtitle{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.sectionTopic{
    font-size: 1.2em;
    color: #999999;
    font-weight: 600;
    margin-bottom: 10px;
}

.sectionTopicList{
    list-style: circle;
    color: #999999;
    margin-left: 15px;
    margin-top: 20px;
    li{
        margin-bottom: 10px;
    }
}

.SideBySide{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contentBox{
    background-color: #FFF;
    box-shadow: $TinyShadow;
    border:solid 1px #eee;
    color:#212121;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    max-height: 300px;
    padding: 30px 20px;
    border-radius: 14px;
    margin-bottom: 20px;

}

.techBox{
    background-color: #FFF;
    box-shadow: $TinyShadow;
    border:solid 1px #eee;
    color:#212121;
    text-align: justify;
    padding: 30px 20px;
    border-radius: 14px;
    margin-bottom: 20px;
}

.imageList{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    img{
        max-width: 200px;
        height: auto;
        margin-bottom: 1em;
    }
}

.cardPersona{
    margin-bottom: 30px;
    margin-top: 40px;
    background-color: #FFF;
    box-shadow: $DefaultShadow;
    border-radius: 14px;
    padding-left: 0;
    .personaProfile{
        padding: 50px 30px;
        background-color: #0f172a;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 14px 0 0 14px;
        .personaInfo{
            font-size: 1.2em;
            color: #DDDDDD;
            width: 100%;
            label{
                font-size: 0.9em;
                color: #666;
            }
        } 
        .personaQuote{
            background-color: rgba(255,255,255, 0.2);
            color: #FFF;
            padding: 20px;
            font-style: italic;
            font-size: 0.8em;
            margin: 30px auto;
            border-radius: 14px;
            border: 0.8px solid rgba(255,255,255, 0.4);
        }
        .personaImage{
            border-radius: 50%;
            margin-bottom: 30px;
        }
    }
    .personaSurvey{
        padding: 75px 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
        ul{
            .personaQuestion{
             margin-bottom: 5px;   
            }
            .personaAnswer{
                margin-bottom: 20px;
                color: #0f172a;
                font-weight: bold;
                font-style: italic;
            }
        }
    }
}

.cardFlow{
    background-color:#0f172a;
    margin-top: 30px;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-radius: 14px;
    box-shadow: $DefaultShadow;
    .flowImage{
        max-width: 275px;
        height: auto;
    }
}

.cardPlanning{
    background-color: #FFF;
    margin-top: 30px;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-radius: 14px;
    box-shadow: $DefaultShadow;

}


}