//_variables

//Light theme

$BoxShadow: 0 22px 55px -10px #BFBFBF;

$LightGray: #F9F9FA;
$DarkGray: #666;

$DefaultShadow: 0 16px 15px #dbdbdb;
$TinyShadow: 0 3px 6px #eeeeee;

$DefaultTransition: 0.3s ease-in-out all;